In [ ]:
def sum2(n):
  sum_of_num = (n*(n+1))/2
  return sum_of_num

print(sum2(5))

15.0

In [ ]:
%timeit sum2(100)

The slowest run took 15.90 times longer than the fastest. This could mean that an intermediate result is being cached.
10000000 loops, best of 5: 172 ns per loop

My notes from following this course - https://www.youtube.com/watch?v=HGOBQPFzWKo&list=PLmRagU2RjpNL9DAgwyIfJbt3L3b2vdCCY&index=1&t=969s

# Lists
ordered, mutable, allows duplicate elements

## List selection

In [ ]:
myList = [1,2,3,4,5,6,7,8,9]
a = myList[1:5] #index 1 to 5 excluding 5
print(a)

a = myList[:5] #when start index is not specified it starts with index 0
print(a)

a = myList[1:] #when end index is not specified it goes till last index
print(a)

a = myList[1::2] #start from index 1 and select every second item (this is called step index)
print(a)

a=myList[::-1] # reverses the list
print(a)

## Copying List

In [ ]:
#copying a list
list_org = ["banana","cherry","apple"]
list_cpy = list_org
print([list_cpy])
 
list_cpy[2] = "strawberry"
print([list_org]) #list_cpy & list_org are pointing to the same list, which is why list_org is also modified when list_cpy is modified

list_true_cpy = list_org.copy() #copy method copies the content of the list to the new list
list_true_cpy = list(list_org) #list function also creates copy of the list passed as parameter
list_true_cpy = list_org[:] #slicing also creates copy of the list
print(list_true_cpy)

## List comprehension

In [ ]:
myList = [1,2,3,4,5,6]
b = [i*i for i in myList] # syntax = [expression for variable in List]
print(myList)
print(b)

# Tuple
ordered, immutable, allows duplicate elements

## Tuple creation & selection

In [ ]:
mytuple = ("max",28,"Boston")
print(mytuple)

mytuple = "max",28,"Boston" #without paranthese, still a tuple
print(type(mytuple))

mytuple = ("max") #with just one element, this will not get recognized as tuple but a string, if it was a number, it would be recognized as int or float
print(type(mytuple))

mytuple = ("max",) #end with a comma to get it identified as tuple
print(type(mytuple))

mytuple = tuple(["max",28,"Boston"]) #built in tuple function, if no argument is specified it creates an empty tuple. If an argument is specified it initializes tuple with the values inside that iterable.
print(mytuple)

item = mytuple[1]
print(item)

item = mytuple[-1] # refers last item
print(item)


#mytuple[0] = "true" 
# not possible because tuple is immutable

## Iterating over tuple & tuple functions

In [ ]:
for i in mytuple:
  print(i)


if "max" in mytuple: #to check if something is inside tuple
  print("yes")
else:
  print("no")

mytuple = ['a','p','p','l','e']

print(len(mytuple)) #get length of tuple
 
print(mytuple.count('p'))#count number of occurence

print(mytuple.index('p')) # returns index of first occurence of the element in tuple

## Converting Tuple

In [ ]:

my_list = list(mytuple) #converting tuple to list and vice versa
mytuple2 = tuple(my_list)

## Slicing & unpacking

In [ ]:
a = (1,2,3,4,5,6,7,8,9,10)
b = a[0:5] #starting index 0 upto index 5 but not including 5
print(b)

mytuple = "max",28,"Boston"

name,age,city = mytuple #unpack
print(name)
print(age)
print(city)

mytuple = (0,1,2,3,4) #unpack
i1,*i2,i3 = mytuple
print(i1) #returns 1st item
print(i3) #returns last item
print(i2) #returns all items in between converted to a list

## Performance consideration

In [ ]:
import sys
mylist = [0,1,2,"hello",True]
mytuple = (0,1,2,"hello",True)
print(sys.getsizeof(mylist),"bytes")
print(sys.getsizeof(mytuple),"bytes") #takes less space to save same elements, python can optimize because it knows a typle is immutable


import timeit
print(timeit.timeit(stmt="[0,1,2,3,4,5]", number=1000000)) #repeat a statement 1 million times, here creating a list a million time
print(timeit.timeit(stmt="(0,1,2,3,4,5)", number=1000000)) #repeat a statement 1 million times, here creating a tuple a million time
#creating tuple is faster

# Dictionary
key-value pairs, unorderd, mutable, key cannot be duplicate

## Dictionary creation & selection

In [ ]:
myDictionary = {"name": "Max","age":28,"city":"New York"}
print(myDictionary)

myDictionary = dict(name="Marry",age=27,city="Boston") #notice the slight change in syntax, keys are not in quotes
print(myDictionary)

value = myDictionary["name"] #to retrieve value, when you know key
print(value)

{'name': 'Max', 'age': 28, 'city': 'New York'}
{'name': 'Marry', 'age': 27, 'city': 'Boston'}
Marry

## Adding and removing elements

In [ ]:
myDictionary["email"] = "max@xyz.com" # to insert a new key-value in dictionary
print(myDictionary)

# del myDictionary["name"]
# print(myDictionary)

# myDictionary.pop("age")
# print(myDictionary)

#to check if a key exist in the dictionary
if "name" in myDictionary:
  print(myDictionary["name"])

try:
  print(myDictionary["name"])
except:
  print("Error")

## Iterate and dictionary operations

In [ ]:
# to iterate over dictionary
for key in myDictionary:
  print(key)

for key in myDictionary.keys():
  print(key)

for value in myDictionary.values():
  print(value)

for key,value in myDictionary.items():
  print(key,value)

# to copy a dictionary
myDictionary_cpy = myDictionary #this method will make the copy and the original point to the same dictionary
print(myDictionary_cpy)

myDictionary_cpy = myDictionary.copy()

myDictionary_cpy = dict(myDictionary)

#merge two dictionaries
myDictionary = {"name": "Max","age":28,"city":"New York"}
myDictionary_2 = {"name": "Marry","age":27,"email":"Marry@xyz.com"}

myDictionary.update(myDictionary_2) #update will overwrite all existing key-value pair in myDictionary, non-existing key-value pair will be added
print(myDictionary)

#keys in a dictionary can be any immutable type - string, number or a tuple
myDictionary = {3:9,6:36,9:81}

mytuple = (8,7)
myDictionary = {mytuple:15}
print(myDictionary)

# Sets
unordered, mutable, no duplicates

## Set creation and selection

In [ ]:
myset = {1,2,3}
print(myset)

myset = {1,2,3,2} 
print(myset) #two is printed only once because set doesnt allow duplicates

myset = set([1,2,3])
print(myset)

myset = set("Hello")
print(myset) # only one L is printed because set doesn't allow duplicate, nice trick to find unique letters in a string

myset.add(1) #set is mutable, so you can add an element
print(myset)

myset.remove("H")
print(myset)

myset.discard("k")
print(myset) #remove will result in error if the element is not found in set, discard will throw no error

#myset.clear() #will delete everything from the set

print(myset.pop()) #returns an arbitary value and also removed it from the set

## Iterating over set

In [ ]:
for i in myset:
  print(i)

if 1 in myset:
  print("yes")
else:
  print("no")

## Union, Intersection, Difference operation

In [ ]:
odds = {1,3,5,7,9}
evens = {0,2,4,6,8}
primes = {2,3,5,7}

# union combines elements of two sets without duplication
u = odds.union(evens)
print(u)

i = odds.intersection(evens)
print(i) #return empty set, since there is no common element between ods and evens set

i1 = odds.intersection(primes)
print(i1)

setA = {1,2,3,4,5,6,7,8,9}
setB = {1,2,3,10,11,12}

# Difference will return all elements from first set that are not in second set
diff = setA.difference(setB)
print(diff)

sym_diff = setA.symmetric_difference(setB)
print(sym_diff) #returns elemts from both the sets, excluding those elements which are in both the sets

setA.update(setB) #updates setA in place by adding all the elements of SetB, without duplication
print(setA) 

setA = {1,2,3,4,5,6,7,8,9}
setB = {1,2,3,10,11,12}

setA.intersection_update(setB) #updates setA in place by only keeping elements that are in both the sets
print(setA)

setA = {1,2,3,4,5,6,7,8,9}
setB = {1,2,3,10,11,12}

setA.difference_update(setB) #updates setA in place by removing elements which are found in setB
print(setA)

## subset, superset, disjoint

In [ ]:
setA = {1,2,3,4,5,6}
setB = {1,2,3}

print(setA.issubset(setB))
print(setA.issuperset(setB))
print(setA.isdisjoint(setB)) #False because disjoint checks if no elements are common in both the sets

setC={7,8,9}
print(setA.isdisjoint(setC))

## copy

In [28]:
setA = {1,2,3,4,5,6}
setB = {1,2,3}

setB=setA.copy()
print(setB)

setA = {1,2,3,4,5,6}
setB = {1,2,3}

setB=set(setA) 

a = frozenset([1,2,3,4]) #makes the set immutable
print(a)

#a.add(2) #will result in error

{1, 2, 3, 4, 5, 6}
frozenset({1, 2, 3, 4})

# Strings
ordered, immutable, text representation

In [ ]:
my_string = "Hello World"
print(my_string)

char = my_string[0]
print(char)

#my_string[0] = 'h' #will not work, since string is immutable

substring = my_string[1:5]
print(my_string)

for i in my_string:
  print(i)

if 'e' in my_string:
  print("yes")
else:
  print("no")

my_string = "     hello world     "
my_string = my_string.strip() #removes whitespaces
print(my_string)

## String formatting
%, .format(), f-Strings

In [ ]:
var = "Tom"
my_string = "the variable is %s" %var
print(my_string)

#%d - integer
#%f - floating point
#%.2f - only two decimal places

var = 3.1234567
my_string = "the variable is %.2f" %var
print(my_string)

my_string = "the variable is {}".format(var)
print(my_string)


my_string = "the variable is {:.2f}".format(var)
print(my_string)

var1 = "pi"
my_string = "the value of {} is {}".format(var1,var)
print(my_string)

my_string = f"the value of {var1} is {var}"
print(my_string)

# Collections
Counter, namedtuple, OrderedDict, defaultdict, deque

## Counter

In [14]:
from collections import Counter
a = "aaaaabbbbccccc"
my_counter = Counter(a)
print(my_counter)
print(my_counter.keys())
print(my_counter.values())

print(my_counter.most_common(2)) #return first two most common elements
print(my_counter.most_common(1)[0][0])

print(list(my_counter.elements())) #returns all the elements as list

Counter({'a': 5, 'c': 5, 'b': 4})
dict_keys(['a', 'b', 'c'])
dict_values([5, 4, 5])
[('a', 5), ('c', 5)]
a
['a', 'a', 'a', 'a', 'a', 'b', 'b', 'b', 'b', 'c', 'c', 'c', 'c', 'c']

## namedtuple

In [16]:
from collections import namedtuple
Point = namedtuple('Point','x,y')
pt = Point(1,-4)
print(pt)
print(pt.x,pt.y)

Point(x=1, y=-4)
1 -4

## OrderedDict

In [17]:
from collections import OrderedDict
ordered_dict = OrderedDict()
ordered_dict['a'] = 1
ordered_dict['b'] = 2
ordered_dict['c'] = 3
ordered_dict['d'] = 4
ordered_dict['e'] = 5

print(ordered_dict)

#rememebers the order in which elements were inserted. Since python 3.6 this is also available as a feature in normal dictionary

OrderedDict([('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)])

## defaultdict

In [19]:
from collections import defaultdict
d = defaultdict(int)
d['a'] = 1
d['b'] = 2

print(d['a']) 
print(d['c']) #returns default integer value of 0

1
0

## deque

In [27]:
from collections import deque
d = deque()
d.append(1)
d.append(2)
d.appendleft(3)
d.pop()
d.popleft()
d.clear()
d.extend([4,5,6])
d.extendleft([1,2,3])
d.rotate()
print(d)

deque([6, 3, 2, 1, 4, 5])

# itertools

## product

In [31]:
from itertools import product
a = [1,2]
b = [3,4]
prod = product(a,b)
print(list(prod))
prod = product(a,b,repeat=2)
print(list(prod))

[(1, 3), (1, 4), (2, 3), (2, 4)]
[(1, 3, 1, 3), (1, 3, 1, 4), (1, 3, 2, 3), (1, 3, 2, 4), (1, 4, 1, 3), (1, 4, 1, 4), (1, 4, 2, 3), (1, 4, 2, 4), (2, 3, 1, 3), (2, 3, 1, 4), (2, 3, 2, 3), (2, 3, 2, 4), (2, 4, 1, 3), (2, 4, 1, 4), (2, 4, 2, 3), (2, 4, 2, 4)]

## permutations & combinations

In [ ]:
from itertools import permutations
a = [1,2,3]
perm = permutations(a)
print(list(perm))

perm = permutations(a,2)
print(list(perm))


from itertools import combinations
a = [1,2,3,4]
comb = combinations(a,2)
print(list(comb))

from itertools import combinations,combinations_with_replacement
a = [1,2,3,4]
comb = combinations(a,2)
comb_wr = combinations_with_replacement(a,2) #allows repititions
print(list(comb))
print(list(comb_wr))

## accumulate

In [39]:
from itertools import accumulate
a = [1,2,3,4]
acc = accumulate (a)
print(a)
print(list(acc))

import operator 
acc = accumulate (a, func = operator.mul)
print(a)
print(list(acc))

[1, 2, 3, 4]
[1, 3, 6, 10]
[1, 2, 3, 4]
[1, 2, 6, 24]

## groupby

In [1]:
#group by example - 1
rom itertools import groupby
a = [1,2,3,4]

def smaller_than_3(x):
  return x < 3

#group_obj = groupby(a,key=smaller_than_3)
group_obj = groupby(a,key=lambda x:x<3) #using lambda function

for key, value in group_obj:
  print(key,list(value))

True [1, 2]
False [3, 4]

In [4]:
# group by example - 2
from itertools import groupby
persons = [{'name':'Tim','age':25},{'name':'Dan','age':25},{'name':'Lisa','age':27},{'name':'Claire','age':28}]

group_obj = groupby(persons,key=lambda x: x['age'])

for key,value in group_obj:
  print(key,list(value))

25 [{'name': 'Tim', 'age': 25}, {'name': 'Dan', 'age': 25}]
27 [{'name': 'Lisa', 'age': 27}]
28 [{'name': 'Claire', 'age': 28}]

## infinite iterators

In [ ]:
from itertools import count, cycle, repeat

for i in count(10): #infinite loop that starts with 10
  print(i)
  if i == 15:
    break

a = [1,2,3]
x = 0
for i in cycle(a): #infinitely cycle through list element
  print(i)
  x += 1
  if x >99:
    break

for i in repeat(1,100): # repeats 1 100 times
  print(i)

# Lambda
syntax - lambda arguments: expression

used when:
you need a simple function which will be used only once in your code
used as arguments to higher order function

## simple example

In [12]:
add10 = lambda x: x + 10
print(add10(5))

#same as - 
def add10_func(x):
  return x + 10

#lambda function with multiple arguments

mult = lambda x,y:x*y
print(mult(2,3))

15
6

## intermediate example

In [15]:
points2d = [(1,2),(15,1),(5,-1),(10,4)]
points2d_sorted = sorted(points2d)
points2d_sorted = sorted(points2d, key=lambda x:x[1]) #sort by y coordincate by passing index 1,remember index starts with 0
points2d_sorted = sorted(points2d, key=lambda x:x[0]+x[1]) 
print(points2d)
print(points2d_sorted)

[(1, 2), (15, 1), (5, -1), (10, 4)]
[(1, 2), (5, -1), (10, 4), (15, 1)]

# advance usage of lambda

### map function

In [17]:
#map(func,seq)

a = [1,2,3,4,5]
b=map(lambda x: x*2,a) #using map function
print(list(b))

c = [x*2 for x in a] #using list comprehension
print(c)

[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10]

### filter function

In [19]:
# filter (func,seq)
a = [1,2,3,4,5,6]
b = filter(lambda x:x%2==0,a)
print(list(b))

c = [x for x in a if x%2==0]
print(c)

[2, 4, 6]
[2, 4, 6]

### reduce function

In [21]:
#reduce (func,seq)
from functools import reduce
a = [1,2,3,4,5,6]
prod_a = reduce(lambda x,y:x*y,a)
print(prod_a)

720

# Exceptions